name: Deploy to GKE

on:
  push:
    branches: ["main"]

env:
  PROJECT_ID: seenit-480720
  REGION: europe-west3
  REPOSITORY: seen-it
  CLUSTER: seenit-gke
  LOCATION: europe-west3

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up gcloud
      uses: google-github-actions/setup-gcloud@v2
      with:
        project_id: ${{ env.PROJECT_ID }}
        service_account_key: ${{ secrets.GCP_SA_KEY }}

    - name: Authenticate Docker
      run: gcloud auth configure-docker ${{ env.REGION }}-docker.pkg.dev

    - name: Build & Push Images with Cloud Build
      uses: google-github-actions/cloud-build@v0
      with:
        project_id: ${{ env.PROJECT_ID }}
        service_account_email: ${{ secrets.GCP_SA_EMAIL }}
        credentials_json: ${{ secrets.GCP_SA_KEY }}
        config: cloudbuild.yaml

    - name: Get GKE credentials
      run: gcloud container clusters get-credentials ${{ env.CLUSTER }} --region ${{ env.REGION }}

    - name: Apply Kubernetes manifests
      run: kubectl apply -f kubernetes-manifests.yaml
